In [13]:
# DEPENDENCIES
from splinter import Browser
from bs4 import BeautifulSoup as soup
from webdriver_manager.chrome import ChromeDriverManager

import pandas as pd

In [2]:
# Set Executable path
# Create an instance of a Splinter Browser
executable_path = {'executable_path': ChromeDriverManager().install()}
# specifying that we'll be using Chrome as our browser
# ** is unpacking the dictionary we've stored the path in
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 99.0.4844
Get LATEST chromedriver version for 99.0.4844 google-chrome
Trying to download new driver from https://chromedriver.storage.googleapis.com/99.0.4844.51/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\jhkia\.wdm\drivers\chromedriver\win32\99.0.4844.51]

In [3]:
# Visit Mars NASA news site
url = 'https://redplanetscience.com'
browser.visit(url)
# Add a delay for loading the page
browser.is_element_present_by_css('div.list_text', wait_time=1)

True

In [4]:
# set up HTML parser
html = browser.html
# Beautiful Soup parses the HTML text and then stores it as an object ('news_soup')
news_soup = soup(html, 'html.parser')
# create variable slide_elem to hold our parent element (entire <div/> tag containing its descendent (other tags nested within))
# CSS works from right to left -- will return the last item of a list
slide_elem = news_soup.select_one('div.list_text')

In [5]:
# Find the 'content_title' class within parent element
slide_elem.find('div', class_='content_title')

### Title & Summary

In [6]:
# Use parent element to find the first 'a' tag and save it as 'news_title'
news_title = slide_elem.find('div', class_='content_title').get_text()
news_title

'NASA to Reveal Name of Its Next Mars Rover'

In [7]:
# Use parent element to find the paragraph text
news_para = slide_elem.find('div', class_='article_teaser_body').get_text()
news_para

"After a months-long contest among students to name NASA's newest Mars rover, the agency will reveal the winning name — and the winning student — this Thursday. "

### Featured Images

In [8]:
# Visit Space Images website
url = 'https://spaceimages-mars.com/'
browser.visit(url)

In [9]:
# Find and click the 'FULL IMAGE' button
full_image_elem = browser.find_by_tag('button')[1]
full_image_elem.click()

In [10]:
# Parse the resulting html with soup
html = browser.html
img_soup = soup(html, 'html.parser')

In [11]:
# Find the relative image url
img_url_rel = img_soup.find('img', class_='fancybox-image').get('src')
img_url_rel

'image/featured/mars3.jpg'

In [12]:
# Combine with base url to get complete url
img_url = url+img_url_rel
img_url

'https://spaceimages-mars.com/image/featured/mars3.jpg'

In [19]:
# Scrape entire table to Pandas DF
url = 'https://galaxyfacts-mars.com'
df = pd.read_html(url)[0]
df.columns=['description', 'Mars', 'Earth']
df.set_index('description', inplace=True)
df

                                    Mars            Earth
description
Mars - Earth Comparison             Mars            Earth
Diameter:                       6,779 km        12,742 km
Mass:                    6.39 × 10^23 kg  5.97 × 10^24 kg
Moons:                                 2                1
Distance from Sun:        227,943,824 km   149,598,262 km
Length of Year:           687 Earth days      365.24 days
Temperature:                -87 to -5 °C      -88 to 58°C

In [20]:
# Convert pandas DF back into HTML format to use in web app later
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Mars</th>\n      <th>Earth</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Mars - Earth Comparison</th>\n      <td>Mars</td>\n      <td>Earth</td>\n    </tr>\n    <tr>\n      <th>Diameter:</th>\n      <td>6,779 km</td>\n      <td>12,742 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg</td>\n      <td>5.97 × 10^24 kg</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2</td>\n      <td>1</td>\n    </tr>\n    <tr>\n      <th>Distance from Sun:</th>\n      <td>227,943,824 km</td>\n      <td>149,598,262 km</td>\n    </tr>\n    <tr>\n      <th>Length of Year:</th>\n      <td>687 Earth days</td>\n      <td>365.24 days</td>\n    </tr>\n    <tr>\n      <th>Temperature:</th>\n      <td>-87 to -5 °C</td>\n      <td>-88 to 58°C</td>\n    </tr>\n  </tbody>\n</table>'

In [21]:
# Close the automated browser when we are done
browser.quit()